@import '~/styles/variables';


.footer-area {
  border: 1px solid red;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px; // need to be deleted
}

.footer-section {
  border: 1px solid yellow;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px; // need to be deleted

}

.footer-left-area {
  border: 1px solid green;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px; // need to be deleted


  .footer-icon-area {
    border: 1px solid white;
    margin-bottom: 10px; // need to be deleted

    width: 100%;
    height: 100%;

    .footer-icon {
      //background-color: #0dcaf0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 10px; // need to be deleted

    }

  }

  .footer-socials-area {
    border: 1px solid brown;
    //margin-bottom: 10px; // need to be deleted

    width: 100%;
    height: 100%;
  }
}

.footer-right-area {
  border: 1px solid purple;
  padding: 10px; // need to be deleted

  width: 100%;
}


footer {
  //background-size: cover;
  //background-position: center center;
  //background-repeat: no-repeat;
  //background-color: $main-color;
  //position: relative;
  //
  //height: 50vh;
  //padding: 50px 30px;
}


//*-- ---------------------------------------- RESPONSIVE ---------------------------------------- --*/

@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}
