// NOTE: Custom variables
$main-color: #1034A6;
//$main-color: #333333;
$main-color_with_opacity: rgba(16, 52, 166, 0.19);
$second-color: #69ba31; // rgba(105, 186, 49, 0.9);
$second-color_with_opacity: rgba(105, 186, 49, 0.4); // rgba(105, 186, 49, 0.9);
$white-color: #ffffff;
$dark-grey: #323232;
$spanish-grey: #989898;
$light-grey: #D3D3D3;

$grey-color: #344c5d;
$black-color: #111111;
$transition: .5s all ease;
$all-size: 15px;
$footer-all-size: 18px;


$white-color: #fff;
$grey-color: #4a6f8a;
$black-color: #111111;


@keyframes a-one {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-20px, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes a-two {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(20px, 20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* Import Armenian handwriting font */
@font-face {
  font-family: 'Tumanian';
  src: url('/fonts/ArTar_TumanianDzeragir_U.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poqrik';
  src: url('/fonts/poqrik.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


// Base font sizes
$font-sizes: (
        xs: (14px, 14px, 14px, 14px), // small text
        sm: (14px, 16px, 16px, 16px), // body text
        md: (18px, 18px, 20px, 20px), // paragraph
        lg: (20px, 20px, 22px, 24px), // subheading
        xl: (24px, 26px, 28px, 32px), // section title
        xxl: (28px, 30px, 32px, 40px) // main title
);

// Media breakpoints
$breakpoints: (
        mobile: 0,
        tablet: 786px,
        sm-desktop: 992px,
        desktop: 1200px
);

// Mixin to apply responsive font size
@mixin responsive-font($size-name) {
  $sizes: map-get($font-sizes, $size-name);

  font-size: nth($sizes, 1); // mobile default

  @media (min-width: 786px) {
    font-size: nth($sizes, 2);
  }
  @media (min-width: 992px) {
    font-size: nth($sizes, 3);
  }
  @media (min-width: 1200px) {
    font-size: nth($sizes, 4);
  }
}
