@import '~/styles/variables';


.doctor-card {
  //border: 1px solid blue;
  height: 95%;

  .doctor-card-link {
    //border: 1px solid red;
    display: block;
    height: 100%;
  }
}

.staff-cards-area {
  //border: 1px solid red;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //align-items: center;
  //align-content: center;

  .staff-cards-wrapper {
    //border: 1px solid green;
    ////width: 100%;
    //height: 100%;
    //display: flex;
    padding: 10px 25px;

  }
}

//*-- ---------------------------------------- RESPONSIVE ---------------------------------------- --*/

@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

}
