@import '~/styles/variables';


.map-area {
  display: block !important;

  iframe {
    border: none;
    width: 100%;
  }
}

/*-- Drop --*/
.drop-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

  img {
    display: none;
  }
}

.drop-area {
  .speciality-right-three {
    border-radius: 0;
  }
}

.drop-item {
  .drop-left {
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;

    h2 {
      font-weight: 600;
      font-size: 32px;
      margin-bottom: 25px;
      padding-right: 50px;
      line-height: 1.4;
    }

    .form-group {
      margin-bottom: 30px;

      .form-control {
        height: 50px;
        background-color: $white-color;
        padding-left: 20px;
        border: none;
        box-shadow: 0 0 15px 0 #dddddda3;
      }

      textarea {
        padding-top: 20px;
        height: auto !important;
      }
    }

    .drop-btn {
      font-weight: 600;
      font-size: $all-size;
      color: $white-color;
      padding: 14px 35px;
      transition: $transition;
      background-color: $main-color;
      box-shadow: none;
      border: 0;

      &:hover {
        color: $white-color;
        background-color: $grey-color;
      }
    }

    .list-unstyled {
      color: #dc3545;
      font-size: 13px;
      margin-top: 10px;
    }

    .text-danger {
      color: #dc3545;
      margin-top: 25px;
      margin-bottom: 0;
      font-size: 24px;
    }

    .text-success {
      color: #28a745;
      margin-top: 25px;
      font-size: 24px;
    }
  }
}

/*-- End Drop --*/


//*-- ---------------------------------------- RESPONSIVE ---------------------------------------- --*/

@media only screen and (max-width: 767px) {

  /*-- Drop --*/
  .drop-item {
    .drop-left {
      padding-top: 0;
      padding-bottom: 30px;
      max-width: 100%;
      padding-right: 15px;
      padding-left: 15px;

      h2 {
        font-size: 20px;
        margin-bottom: 20px;
        padding-right: 0;
      }

      .form-group {
        .form-control {
          height: 45px;
          font-size: 14px;
        }
      }

      .drop-btn {
        font-size: $all-size;
        padding: 12px 30px;
      }

      .text-danger {
        margin-top: 15px;
        font-size: 18px;
      }

      .text-success {
        margin-top: 15px;
        font-size: 18px;
      }
    }
  }
  .drop-img {
    height: auto;
    background-image: unset;

    img {
      display: inline-block;
    }
  }
  /*-- End Drop --*/

  /*-- Map --*/
  #map {
    height: 400px;
  }
  /*-- End Map --*/
  /*----- End Contact Page -----*/
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /*----- Contact Page -----*/

  /*-- Location --*/
  .location-wrap {
    .location-item {
      i {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 28px;
        margin-bottom: 18px;
      }

      h3 {
        font-size: 22px;
        margin-bottom: 14px;
      }
    }
  }
  /*-- End Location --*/

  /*-- Drop --*/
  .drop-img {
    height: auto;
    background-image: unset;

    img {
      display: inline-block;
    }
  }
  .drop-item {
    .drop-left {
      max-width: 100%;
      padding-top: 0;
      padding-bottom: 30px;
      padding-right: 15px;
      padding-left: 15px;

      h2 {
        font-size: 22px;
        margin-bottom: 20px;
      }

      .drop-btn {
        font-size: $all-size;
      }

      .text-danger {
        margin-top: 20px;
        font-size: 20px;
      }

      .text-success {
        margin-top: 15px;
        font-size: 18px;
      }
    }
  }
  /*-- End Drop --*/

  /*-- Map --*/
  #map {
    height: 500px;
  }
  /*-- End Map --*/
  /*----- End Contact Page -----*/
}

//@media only screen and (min-width: 992px) and (max-width: 1199px) {}

